<div>

  <h3>Formulario de crear un libro</h3>

  <form action="/book/create-book" method="post">

    <label for="title">Título</label>
    <input type="text" name="title">

    <br>

    <label for="description">Descripción</label>
    <input type="text" name="description">

    <br>

    <label for="author">Autor</label>
    {{!-- <input type="text" name="author"> --}}

    <select name="author" multiple>

      {{#each this.allAuthors}}

        <option value="{{this._id}}">{{this.name}}</option>

      {{/each}}

    </select>

    <br>

    <button>Agregar</button>

  </form>

</div>