<div>

  <h3>Formulario de crear Autores</h3>

  <form action="/author/create" method="post">

      <label for="name">Nombre</label>
      <input type="text" name="name" value="{{this.previousNameValue}}">
      <br>
      <label for="country">Pais</label>
      <input type="text" name="country" value="{{previousCountryValue}}">
      <br>
      <label for="yearBorn">Año</label>
      <input type="number" name="yearBorn" value="{{previousYearnBornValue}}">
      <br>
      <button>Agregar</button>

      {{#if this.errorMessage}}
        <p>{{this.errorMessage}}</p>
      {{/if}}

  </form>


</div>