<div>

  <h3>Formulario de crear Autores</h3>

  <form action="/author/create" method="post">

      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input class="form-control" type="text" name="name" value="{{this.previousNameValue}}">
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Pais</label>
        <input class="form-control" type="text" name="country" value="{{previousCountryValue}}">
      </div>

      <div class="mb-3">
        <label for="yearBorn" class="form-label">Año</label>
        <input class="form-control" type="number" name="yearBorn" value="{{previousYearnBornValue}}">
      </div>

      <button class="btn btn-outline-info add-btn">Agregar</button>

      {{#if this.errorMessage}}
        <p class="alert alert-danger">{{this.errorMessage}}</p>
      {{/if}}

  </form>


</div>